*.o
*.a

# Visual Studio temp/user files
*.user
*.suo
*.sdf
*.opensdf
*.ncb

# Xcode temp/user folder/files
*.xcworkspace
xcuserdata

# Build output directories
Release
Debug
MinSizeRel
RelWithDebInfo
ipch

